
@media screen and (min-width: 992px) {div.LHBFontSize {font-size: 22px;}}
@media screen and (max-width: 992px) {div.LHBFontSize{font-size: 12px; padding: 2px;}}
@media screen and (min-width: 992px) {div.LHBFontSizeMethods{font-size: 15px;}}
@media screen and (max-width: 992px) {div.LHBFontSizeMethods{font-size: 10px;}}
@media screen and (min-width: 992px) {div.LHBFontSizeBanner{font-size:30px;}}
@media screen and (min-width: 992px) {span.LHBFontSizeDepartments{font-size:20px;}}
@media screen and (max-width: 992px) {span.LHBFontSizeDepartments{font-size:12px;}}
@media screen and (max-width: 992px) {.w3-hide-smallmedium{display:none!important}}
@media screen and (min-width: 992px) {.w3-show-LHBLarge{display:block!important}}
@media screen and (max-width: 992px) {.w3-show-LHBLarge{display:none!important}}

/* FAO BI*/
iframe {
    box-sizing: border-box;   /* make the border size be included in the height */
    display: block;           /* make them block to fix white space margin */
    position:relative;
    align-content: center;
    align-self: center;
  
    width:100%;
    height:900px;
  }


/*Windows Metro UI*/
.w3-metro-light-green
{color:#fff;background-color:#99b433}
.w3-metro-green
{color:#fff;background-color:#00a300}
.w3-metro-dark-green
{color:#fff;background-color:#1e7145}
.w3-metro-dark-green-border
{color:#fff;border-bottom:#1e7145}
.w3-metro-magenta
{color:#fff;background-color:#ff0097}
.w3-metro-light-purple
{color:#fff;background-color:#9f00a7}
.w3-metro-purple
{color:#fff;background-color:#7e3878}
.w3-metro-dark-purple
{color:#fff;background-color:#603cba}
.w3-metro-darken
{color:#fff;background-color:#1d1d1d}
.w3-metro-teal
{color:#fff;background-color:#00aba9}
.w3-metro-light-blue
{color:#000;background-color:#eff4ff}
.w3-metro-blue
{color:#fff;background-color:#2d89ef}
.w3-metro-dark-blue
{color:#fff;background-color:#2b5797}
.w3-metro-yellow
{color:#fff;background-color:#ffc40d}
.w3-metro-orange
{color:#fff;background-color:#e3a21a}
.w3-metro-dark-orange
{color:#fff;background-color:#da532c}
.w3-metro-red
{color:#fff;background-color:#ee1111}
.w3-metro-dark-red
{color:#fff;background-color:#b91d47}

/*Flat*/
.w3-flat-turquoise
{color:#fff;background-color:#1abc9c}
.w3-flat-emerald
{color:#fff;background-color:#2ecc71}
.w3-flat-peter-river
{color:#fff;background-color:#3498db}
.w3-flat-amethyst
{color:#fff;background-color:#9b59b6}
.w3-flat-wet-asphalt
{color:#fff;background-color:#34495e}
.w3-flat-green-sea
{color:#fff;background-color:#16a085}
.w3-flat-nephritis
{color:#fff;background-color:#27ae60}
.w3-flat-belize-hole
{color:#fff;background-color:#2980b9}
.w3-flat-wisteria
{color:#fff;background-color:#8e44ad}
.w3-flat-midnight-blue
{color:#fff;background-color:#2c3e50}
.w3-flat-sun-flower
{color:#fff;background-color:#f1c40f}
.w3-flat-carrot
{color:#fff;background-color:#e67e22}
.w3-flat-alizarin
{color:#fff;background-color:#e74c3c}
.w3-flat-clouds
{color:#000;background-color:#ecf0f1}
.w3-flat-concrete
{color:#fff;background-color:#95a5a6}
.w3-flat-orange
{color:#fff;background-color:#f39c12}
.w3-flat-pumpkin
{color:#fff;background-color:#d35400}
.w3-flat-pomegranate
{color:#fff;background-color:#c0392b}
.w3-flat-silver
{color:#000;background-color:#bdc3c7}
.w3-flat-asbestos
{color:#fff;background-color:#7f8c8d}

/* 2021 Fashion*/
.w3-2021-marigold
{color:#fff;background-color:#FDAC53}
.w3-2021-cerulean
{color:#000;background-color:#9BB7D4}
.w3-2021-rust
{color:#fff;background-color:#B55A30}
.w3-2021-illuminating
{color:#000;background-color:#F5DF4D}
.w3-2021-french-blue
{color:#fff;background-color:#0072B5}
.w3-2021-green-ash
{color:#000;background-color:#A0DAA9}
.w3-2021-burnt-coral
{color:#fff;background-color:#E9897E}
.w3-2021-mint
{color:#fff;background-color:#00A170}
.w3-2021-amethyst-orchid
{color:#fff;background-color:#926AA6}
.w3-2021-raspberry-sorbet
{color:#fff;background-color:#D2386C}
.w3-2021-inkwell
{color:#fff;background-color:#363945}
.w3-2021-ultimate-gray
{color:#fff;background-color:#939597}
.w3-2021-buttercream
{color:#000;background-color:#EFE1CE}
.w3-2021-desert-mist
{color:#000;background-color:#E0B589}
.w3-2021-willow
{color:#fff;background-color:#9A8B4F}

/* Food*/
.w3-food-apple
{color:#000;background-color:#76cd26}
.w3-food-aspargus
{color:#fff;background-color:#77ab56}
.w3-food-apricot
{color:#fff;background-color:#ffb16d}
.w3-food-aubergine
{color:#fff;background-color:#3d0734}
.w3-food-avocado
{color:#fff;background-color:#87a922}
.w3-food-banana
{color:#000;background-color:#fafe4b}
.w3-food-butter
{color:#000;background-color:#ffff81}
.w3-food-blueberry
{color:#fff;background-color:#464196}
.w3-food-carrot
{color:#fff;background-color:#e67e22}
.w3-food-cherry
{color:#fff;background-color:#cf0234}
.w3-food-chocolate
{color:#fff;background-color:#411900}
.w3-food-cranberry
{color:#fff;background-color:#9e003a}
.w3-food-coffee
{color:#fff;background-color:#a6814c}
.w3-food-egg
{color:#000;background-color:#fffcc4}
.w3-food-grape
{color:#fff;background-color:#6c3461}
.w3-food-kiwi
{color:#000;background-color:#8ee53f}
.w3-food-lemon
{color:#000;background-color:#fdff52}
.w3-food-lime
{color:#000;background-color:#bffe28}
.w3-food-mango
{color:#fff;background-color:#ffa62b}
.w3-food-mushroom
{color:#fff;background-color:#ba9e88}
.w3-food-mustard
{color:#fff;background-color:#ceb301}
.w3-food-mint
{color:#000;background-color:#c0fa8b}
.w3-food-olive
{color:#fff;background-color:#6e750e}
.w3-food-orange
{color:#fff;background-color:#f97306}
.w3-food-pea
{color:#fff;background-color:#a4bf20}
.w3-food-peach
{color:#fff;background-color:#ffb07c}
.w3-food-pear
{color:#000;background-color:#cbf85f}
.w3-food-pistachio
{color:#000;background-color:#c0fa8b}
.w3-food-plum
{color:#fff;background-color:#3f012c}
.w3-food-pomegranate
{color:#fff;background-color:#c0392b}
.w3-food-pumpkin
{color:#fff;background-color:#d35400}
.w3-food-raspberry
{color:#fff;background-color:#b00149}
.w3-food-saffron
{color:#fff;background-color:#feb209}
.w3-food-salmon
{color:#fff;background-color:#ff796c}
.w3-food-spearmint
{color:#000;background-color:#1ef876}
.w3-food-squash
{color:#fff;background-color:#f2ab15}
.w3-food-strawberry
{color:#fff;background-color:#fb2943}
.w3-food-tomato
{color:#fff;background-color:#ec2d01}
.w3-food-wheat
{color:#000;background-color:#fbdd7e}
.w3-food-wine
{color:#fff;background-color:#80013f}